.mainNav, .submenu {
    width: 25%;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.mainNav li,
.submenu li {
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    background: grey;
}

.hidden {
    display: none;
}

.activeElm {
    background: yellow;
}